// mobile screen

@media screen and (min-width: 0px) and (max-width: 450px) {
  .heading {
    display: flex;
    margin: 3vw auto;
    align-items: center;
    justify-content: center;
    border-bottom: solid rgb(182, 157, 157) 1px;
    padding: 5vw;

    h1 {
      flex-wrap: nowrap;
      text-align: center;
    }
  }

  .filter-section {
    display: none;
  }

  .product-details-container {
    display: flex;
    flex-direction: column;
    // margin-top: 5vw;
    padding-top: 2vw;

    .product-collection-details {
      display: flex;
      border-top: solid rgb(182, 157, 157) 1px;
      border-bottom: solid rgb(182, 157, 157) 1px;
      // border-right: solid rgb(182, 157, 157) 1px;
      margin-bottom: 5vw;

      .product-image {
        flex-wrap: 0%;
        border-right: solid rgb(182, 157, 157) 1px;
        padding: 3.5vw 1vw;
        background-color: whitesmoke;

        img {
          // width: 100%;
          width: 40vw;
          object-fit: cover;
        }
      }

      .product-details {
        flex-wrap: 100%;
        margin: 1.5vw;

        h3 {
          font-weight: lighter;
          padding: 2vw 1.5vw;
        }

        p {
          font-weight: lighter;
          font-size: 4vw;
          padding: 0 1.5vw;
          opacity: 0.7;
        }

        .color-rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 3vw 1.5vw;

          // color

          .product-color {
            display: flex;
            flex-direction: row;

            .color1 {
              // border:  solid black 1px;
              border: 100%;
              padding: 0 2.5vw;
              border-radius: 100%;
              background-color: green;
            }

            .color2 {
              border: 100%;
              padding: 0 2.5vw;
              border-radius: 100%;
              background-color: rgb(46, 5, 2);
            }

            .color3 {
              border: 100%;
              padding: 0 2.5vw;
              border-radius: 100%;
              background-color: rgb(95, 15, 186);
            }

            p {
              // padding: 0.5vw;
              margin: -0.2vw;
            }
          }

          // rating

          .rating {
            display: flex;

            svg {
              color: yellow;
            }
          }
        }

        .price {
          display: flex;
          margin-top: 1.5rem;

          .real-price {
            display: flex;
            font-size: 7vw;
            opacity: 1;
            align-items: center;
            text-align: center;
            font-weight: bolder;
          }

          .old-price {
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 5vw;
          }
        }
      }
    }
  }
}

// Tablet

@media screen and (min-width: 450px) and (max-width: 1034px) {
  .heading {
    display: flex;
    margin: 3vw auto;
    align-items: center;
    justify-content: center;
    border-bottom: solid rgb(182, 157, 157) 1px;
    padding: 5vw;

    h1 {
      flex-wrap: nowrap;
      text-align: center;
    }
  }

  .filter-section {
    display: none;
  }

  .product-details-container {
    display: flex;
    flex-direction: column;
    // margin-top: 5vw;
    padding-top: 2vw;
    margin: 0 3rem;

    .product-collection-details {
      display: flex;
      border-top: solid rgb(182, 157, 157) 1px;
      border-bottom: solid rgb(182, 157, 157) 1px;
      border-right: solid rgb(182, 157, 157) 1px;
      border-radius: 2rem;

      margin-bottom: 5vw;

      .product-image {
        flex-wrap: 0%;
        border-right: solid rgb(182, 157, 157) 1px;
        border-left: solid rgb(182, 157, 157) 1px;
        border-radius: 2rem;
        padding: 3.5vw 1vw;
        background-color: whitesmoke;

        img {
          // width: 100%;
          width: 25vw;
          object-fit: cover;
        }
      }

      .product-details {
        flex-wrap: 100%;
        margin: 1vw;

        h3 {
          font-weight: lighter;
          padding: 2vw 1.5vw;
          font-size: 3vw;
        }

        p {
          font-weight: lighter;
          font-size: 2vw;
          padding: 0 1.5vw;
          opacity: 0.7;
        }

        .color-rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 3vw 1.5vw;

          // color

          .product-color {
            display: flex;
            flex-direction: row;

            .color1 {
              // border:  solid black 1px;
              border: 100%;
              padding: -1vw 1vw;
              border-radius: 100%;
              background-color: green;
            }

            .color2 {
              border: 100%;
              padding: -1vw 1vw;

              border-radius: 100%;
              background-color: rgb(46, 5, 2);
            }

            .color3 {
              border: 100%;
              padding: -1vw 1vw;

              border-radius: 100%;
              background-color: rgb(95, 15, 186);
            }

            p {
              // padding: 0.5vw;
              margin: -0.5vw;
            }
          }

          // rating

          .rating {
            display: flex;
            margin-left: 22vw;
            // background-color: green;

            svg {
              color: yellow;
            }
          }
        }

        .price {
          display: flex;
          margin-top: 1.5rem;

          .real-price {
            display: flex;
            font-size: 3vw;
            opacity: 1;
            align-items: center;
            text-align: center;
            font-weight: bolder;
          }

          .old-price {
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}

// big screen

@media screen and (min-width: 1034px) {
  .filter-section {
    display: none;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border-bottom: solid black 1px;
  }

  .product-details-container {
    display: inline-block;
    flex-direction: column;
    margin: 0 auto;
    // justify-content: center;
    // align-items: center;
    // background-color: green;
    // border: solid 1px rgb(172, 139, 139);
    padding: 0.5vw 1vw;
    border-radius: 5vw;

    .product-collection-details {
      display: inline-block;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto;
      border: solid 1px rgb(172, 139, 139);
      // padding: 0.5vw;
      border-radius: 1vw;
      margin: 0.5vw;
      text-align: center;
      

      .product-image {
        display: flex;
        flex-direction: row;
        border: solid 1px rgb(172, 139, 139);
        background-color: rgb(207, 225, 219);
   

        img {
          width: 20vw;
          object-fit: cover;
        }
      }


      .product-details{
        margin: 1vw 1vw;

        h3{
          padding-bottom: 0.5vw;
        }

        p{
          opacity: 0.7;
          font-weight: lighter;
        }

        .color-rating{
          // background-color: green;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1vw 0;

          .product-color{
            display: flex;
            // margin: 1rem;
            // padding: 1rem;

            p{
              margin: 1px;
            }

            .color1{
              background-color: gray;
              // border: solid black 1px;
              padding: 10px;
              border-radius: 1rem;
            }

            .color2{
              background-color: rgb(224, 23, 47);
              // border: solid black 1px;
              padding: 10px;
              border-radius: 1rem;
            }

            .color3{
              background-color: rgb(38, 14, 115);
              // border: solid black 1px;
              padding: 10px;
              border-radius: 1rem;
            }
          }




          .rating{
            display: flex;

            svg{
              color: yellow;
              margin-right: 0.2rem;
            }

          }

        }


        .price{
          // background-color: green;

          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;

          .real-price{
            font-weight: bold;
            opacity: 1;
            font-size: 1.5vw;

          }

          .old-price{
            margin-left: 1vw;
            font-size: 1.2vw;

          }

        }








      }
    }
  }
}
