.disclaimer-container{
    display: block;
    background-color: whitesmoke;
    padding: 2rem;
}

.disclaimer-heading{
    display: block;
    margin-left: -0.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.colo-one{
    display: block;

    p{
        font-size: 0.9rem;
        margin: 1rem 0;
        font-weight: lighter;

    }


    
}


.col-two{
    display: block;
   margin-top: 3rem;
}


.para-section{
    margin: 1rem 0;


}


.desclaimer-question{
    margin: 0.3rem 0;
}




.desclaimer-answer{
    font-size: 0.8rem;
    word-spacing: 2px;
    opacity: 0.7;
}
